/* template-color */

.scroll-top{
  color: #e94d4e;
}

.handle-preloader{
	background-color: #e94d4e;
}

.preloader-close{
	color: #e94d4e;
}

.header-top{
	background-color: #e94d4e;
}

.header-middle .text p span{
	color: #e94d4e;
}

.header-middle .text p a{
	color: #e94d4e;
}

.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a{
  color: #e94d4e;
}

.main-menu .navigation > li > ul > li > a:hover{
  color: #e94d4e;
}

.main-header .menu-right-content .login a:hover{
  color: #e94d4e;
}

.main-header .menu-right-content .login a i{
	color: #e94d4e;
}

.main-header .menu-right-content .faq a i{
	color: #e94d4e;
}

.main-header .menu-right-content .faq a:hover{
	color: #e94d4e;
}

.main-header .menu-right-content .support-box h6{
	color: #e94d4e;
}

.main-header .menu-right-content .support-box h5 a:hover{
  color: #e94d4e;
}

.theme-btn.btn-one{
	background-color: #e94d4e;
}

.banner-section .owl-theme .owl-nav button:hover{
  background-color: #e94d4e;
}

.sec-title h6{
	color: #e94d4e;
}

.sec-title h6:before{
	background-color: #e94d4e;
}

.service-block-one .inner-box .category a{
	background-color: #e94d4e;
}

.service-block-one .inner-box h3 a:hover{
  color: #e94d4e;
}

.service-block-one .inner-box .btn-box a{
	color: #e94d4e;
}

.service-section .owl-nav button:hover{
  color: #e94d4e;
}

.dream-section .inner-container{
	background-color: #e94d4e;
}

.dream-section .text a:hover{
  color: #e94d4e;
}

.visa-block-one .inner-box .image{
	background-color: #e94d4e;
}

.visa-block-one .inner-box .lower-content .text span{
	color: #e94d4e;
}

.visa-block-one .inner-box .lower-content h4 a:hover{
  color: #e94d4e;
}

.visa-block-one .inner-box .lower-content .link-box a span:before,
.visa-block-one .inner-box .lower-content .link-box a span:after{
	color: #e94d4e;
}

.visa-block-one .inner-box .lower-content .link-box a:hover{
  color: #e94d4e;
}

.about-section .image-box .text-inner .text h2{
	color: #e94d4e;
}

.theme-btn.btn-two{
	border: 2px solid #e94d4e;
	color: #e94d4e !important;
}

.about-section .content-box .inner h6{
	color: #e94d4e;
}

.project-tab .tab-btn-box .tab-btns .p-tab-btn.active-btn h2{
  color: #e94d4e;
}

.project-tab .tab-btn-box .tab-btns .p-tab-btn:before{
	color: #e94d4e;
}

.countries-block-one .inner-box .image-box .image{
	background-color: #e94d4e;
}

.countries-block-one .inner-box .image-box .link a{
	color: #e94d4e;
}

.countries-block-one .inner-box .lower-content h4 a:hover{
  color: #e94d4e;
}

.countries-section .owl-nav button:hover{
	color: #e94d4e;
}

.coaching-block-one .inner-box .content-box{
	background-color: #e94d4e;
}

.coaching-block-one .inner-box .overlay-content{
	background-color: #e94d4e;
}

.coaching-block-one .inner-box .overlay-content .icon-box a{
	color: #e94d4e;
}

.destination-section .content-box .list li i{
	color: #e94d4e;
}

.destination-section .content-box .theme-btn:hover{
  color: #e94d4e !important;
}

.chooseus-block-one .inner-box a{
	color: #e94d4e;
}

.chooseus-section .lower-box h2 a{
	color: #e94d4e;
	border-bottom: 1px solid #e94d4e;
}

.team-block-one .inner-box .image-box .list > li > a,
.team-block-one .inner-box .image-box .list > li > span{
	background-color: #e94d4e;
}

.team-block-one .inner-box .image-box .list .share-option .share-links li a:hover{
  color: #e94d4e;
}

.team-block-one .inner-box .lower-content h4 a:hover{
  color: #e94d4e;
}

.team-block-one .inner-box:hover .lower-content .designation{
  color: #e94d4e;
}

.testimonial-block-one .inner-box .text h4{
	color: #e94d4e;
}

.testimonial-block-one .inner-box .text:before{
	background-color: #e94d4e;
}

.testimonial-block-one .inner-box .rating li{
	color: #e94d4e;
}

.testimonial-block-one .inner-box .lower-box h4 span{
	color: #e94d4e;
}

.testimonial-section .owl-nav button:hover{
  border-color: #e94d4e;
  background-color: #e94d4e;
}

.news-block-one .inner-box .image-box h2{
	background: #e94d4e;
}

.news-block-one .inner-box .lower-content .author-box h6:before{
	background-color: #e94d4e;
}

.news-block-one .inner-box .lower-content .author-box h6 a{
	color: #e94d4e;
}

.news-block-one .inner-box .lower-content h4 a:hover{
  color: #e94d4e;
}

.news-block-one .inner-box .lower-content .link a:hover{
	color: #e94d4e;
}

.news-block-one .inner-box .lower-content .info li a:hover{
	color: #e94d4e;
}

.clients-section{
	background-color: #e94d4e;
}

.contact-section .form-inner .form-group input:focus{
  border-color: #e94d4e !important;
}

.footer-top .links-widget a:hover{
  color: #e94d4e;
}

.footer-top .logo-widget .inner .icon{
	background-color: #e94d4e;
}

.footer-top .logo-widget .inner h6 a{
	color: #e94d4e;
}

.footer-top .logo-widget .inner h5 a:hover{
  color: #e94d4e;
}

.footer-top .widget-title:before{
	background-color: #e94d4e;
}

.footer-top .links-widget .links-list li a:hover:before,
.footer-top .links-widget .links-list li a:hover:after{
  background-color: #e94d4e;
}

.scroll-top{
	color: #e94d4e;
	border: 2px solid #e94d4e;
}

.scroll-top:hover{
	background-color: #e94d4e;
}

.footer-top .gallery-widget .image-list li .image{
	background-color: #e94d4e;
}

.footer-bottom{
  background-color: #e94d4e;
}


/** home-2 **/

.home-2 .handle-preloader{
	background-color: #3283ea;
}

.header-top-two .phone-box i{
	color: #3283ea;
}

.header-top-two .phone-box h6 a:hover{
  color: #3283ea;
}

.header-top-two .search-inner .form-group input:focus + button,
.header-top-two .search-inner .form-group button:hover{
  color: #3283ea;
}

.header-style-two .main-menu .navigation > li.current > a, 
.header-style-two .main-menu .navigation > li:hover > a{
  color: #3283ea;
}

.header-style-two .main-menu .navigation > li > ul > li > a:hover{
  color: #3283ea;
}

.home-2 .theme-btn{
	background-color: #3283ea;
}

.header-style-two .menu-right-content .user-link a:hover{
  background-color: #3283ea;
}

.banner-style-two .owl-theme .owl-nav button:hover{
  background-color: #3283ea;
}

.home-2 .sec-title h6{
	color: #3283ea;
}

.home-2 .sec-title h6:before{
	background-color: #3283ea;
}

.home-2 .service-block-two .inner-box .content-box h4 a:hover{
  color: #3283ea;
}

.home-2 .service-block-two .inner-box .content-box .btn-box a:hover{
  color: #3283ea;
}

.home-2 .service-block-two .inner-box .overlay-content .btn-box a{
	color: #3283ea;
}

.home-2 .about-style-two .outer-container{
	background-color: #3283ea;
}

.home-2 .counter-block-one .count-outer span{
	color: #3283ea;
}

.home-2 .counter-block-one .link a:hover{
	color: #3283ea;
}

.home-2 .process-block-one .inner-box:hover .icon-box{
  border-color: #3283ea;
}

.home-2 .process-block-one .inner-box .count-text{
	background-color: #3283ea;
}

.home-2 .theme-btn.btn-two{
	border-color: #3283ea;
	color: #3283ea !important;
}

.home-2 .process-section .lower-box h3 a{
	color: #3283ea;
	border-bottom: 1px solid #3283ea;
}

.home-2 .coaching-block-two .inner-box h4 a:hover{
  color: #3283ea;
}

.home-2 .coaching-block-two .inner-box h4:before{
	background: #3283ea;
}

.home-2 .coaching-block-two .inner-box .overlay-text .link a{
  background: #3283ea;
}

.home-2 .coaching-block-two .inner-box .overlay-text .link a:hover{
  color: #3283ea;
}

.home-2 .scroll-top{
	border-color: #3283ea;
	color: #3283ea;
}

.home-2 .scroll-top:hover{
	background-color: #3283ea;
}

.home-2 .statistics-section .image-box .curved-circle{
	color: #3283ea;
}

.home-2 .progress-box .bar-inner{
	background-color: #3283ea;
}

.home-2 .statistics-section .content-box .download-box h6 a{
	color: #3283ea;
}

.home-2 .countries-style-two .tab-btns li.active-btn,
.home-2 .countries-style-two .tab-btns li:hover{
  color: #3283ea;
}

.home-2 .service-section .owl-nav button:hover{
	color: #3283ea;
}

.home-2 .countries-block-two .inner-box .inner h4 a:hover{
  color: #3283ea;
}

.home-2 .countries-style-two .more-link h6 a{
	color: #3283ea;
}

.home-2 .clients-section{
	background-color: #3283ea;
}

.home-2 .team-block-one .inner-box .image-box .list > li > a,
.home-2 .team-block-one .inner-box .image-box .list > li > span{
	background-color: #3283ea;
}

.home-2 .team-block-one .inner-box .image-box .list > li:last-child > a{
	background-color: #2f7ad8;
}

.home-2 .team-block-one .inner-box .image-box .list .share-option .share-links li a:hover{
	color: #2f7ad8;
}

.home-2 .team-block-one .inner-box .lower-content h4 a:hover{
	color: #2f7ad8;
}

.home-2 .team-block-one .inner-box:hover .lower-content .designation{
	color: #2f7ad8;
}

.home-2 .video-section .video-btn a{
	background-color: #2f7ad8;
}

.home-2 .testimonial-style-two .testimonial-content .rating li{
	color: #2f7ad8;
}

.home-2 .testimonial-style-two .testimonial-content .author-box .designation{
	color: #2f7ad8;
}

.home-2 .testimonial-style-two .owl-nav button:hover{
  border-color: #2f7ad8;
  background-color: #2f7ad8;
}

.home-2 .news-section.style-two .news-block-one .inner-box .image-box h2{
	background-color: #2f7ad8;
}

.home-2 .news-block-one .inner-box .lower-content .author-box h6 a{
	color: #2f7ad8;
}

.home-2 .news-block-one .inner-box .lower-content .author-box h6:before{
	background-color: #2f7ad8;
}

.home-2 .news-block-one .inner-box .lower-content h4 a:hover{
	color: #2f7ad8;
}

.home-2 .news-block-one .inner-box .lower-content .link a:hover{
	color: #2f7ad8;
}

.home-2 .news-block-one .inner-box .lower-content .info li a:hover{
	color: #2f7ad8;
}

.home-2 .news-section.style-two .single-item-carousel .owl-nav button:hover{
  border-color: #2f7ad8;
  background-color: #2f7ad8;
}


.home-2 .callback-section .form-inner .form-group input:focus{
  border-color: #2f7ad8 !important;
}

.home-2 .callback-section .map-inner .map-location .single-location .address-box h4{
	background-color: #2f7ad8;
}

.home-2 .callback-section .map-inner .map-location .single-location .address-box .info li a:hover{
  color: #2f7ad8;
}

.home-2 .footer-top-two .widget-title:before{
	background-color: #2f7ad8;
}

.home-2 .footer-top-two .logo-widget .inner h4:before{
	background-color: #2f7ad8;
}

.home-2 .footer-top-two .logo-widget .inner p a:hover{
  color: #2f7ad8;
}

.home-2 .footer-top-two .logo-widget .inner h6 a{
	color: #2f7ad8;
}

.home-2 .footer-top-two .post-widget .post h6:before{
	background-color: #2f7ad8;
}

.home-2 .footer-top-two .post-widget .post h6 a{
	color: #2f7ad8;
}

.home-2 .footer-top-two .post-widget .post h5 a:hover{
  color: #2f7ad8;
}

.home-2 .footer-top-two .tweet-widget .tweet-content .inner a{
	color: #2f7ad8;
}

.home-2 .footer-top-two .tweet-widget .tweet-content .text p span{
  color: #2f7ad8;
}

.home-2 .footer-top-two .tweet-widget .owl-nav button:hover{
  color: #2f7ad8;
}


/** home-3 **/

.home-3 .handle-preloader{
	background-color: #c31541;
}

.header-top-three{
	background-color: #c31541;
}

.home-3 .main-menu .navigation > li > ul > li > a:hover{
	color: #c31541;
}

.home-3 .header-style-three .header-lower .menu-right-content .theme-btn{
	color: #c31541 !important;
}

.banner-style-three .theme-btn:hover{
  color: #c31541 !important;
}

.home-3 .banner-style-three .owl-theme .owl-nav button:hover{
  background-color: #c31541;
}

.home-3 .service-block-three .inner-box .lower-content h4 a:hover{
  color: #c31541;
}

.home-3 .service-block-three .inner-box .lower-content .btn-box a:hover{
	background-color: #c31541;
}

.home-3 .service-style-three .owl-nav button:hover{
	color: #c31541;
}

.home-3 .about-style-three .image-box .curve-text{
	color: #c31541;
}

.home-3 .about-style-three .image-box .text h2{
	color: #c31541;
}

.home-3 .sec-title h6{
	color: #c31541;
}

.home-3 .sec-title h6:before{
	background-color: #c31541;
}

.home-3 .coaching-block-three .inner-box .upper-box .link a{
	color: #c31541;
}

.home-3 .coaching-block-three .inner-box .lower-box .overlay-text h4 a:hover{
  color: #c31541;
}

.home-3 .countries-block-three .inner-box h6{
	color: #c31541;
}

.home-3 .countries-block-three .inner-box h4 a:hover{
  color: #c31541;
}

.home-3 .countries-block-three .inner-box:hover{
  border-color: #c31541;
}

.home-3 .countries-style-three .owl-nav button:hover{
  background-color: #c31541;
}

.home-3 .chooseus-style-three .owl-nav button:hover{
	color: #c31541;
}

.home-3 .testimonial-style-three .testimonial-content .inner-box .quote{
	border: 2px solid #c31541;
}

.home-3 .testimonial-style-three .testimonial-content .inner-box .quote:before{
	background-color: #c31541;
}

.home-3 .testimonial-style-three .testimonial-content .inner-box .quote:after{
	background-color: #c31541;
}

.home-3 .testimonial-style-three .testimonial-content .inner-box .author-box .designation{
	color: #c31541;
}

.home-3 .testimonial-style-three .testimonial-content .inner-box .rating li{
	color: #c31541;
}

.home-3 .testimonial-style-three .owl-nav button:hover{
  background-color: #c31541;
  border-color: #c31541;
}

.home-3 .main-menu .navigation > li.current > a, 
.home-3 .main-menu .navigation > li:hover > a{
	color: #c31541;
}

.home-3 .main-header .menu-right-content .theme-btn{
	background-color: #c31541;
}

.home-3 .gallery-block-one .inner-box .view-btn a{
	color: #c31541;
}

.home-3 .gallery-block-one .inner-box .view-btn a:hover{
	background-color: #c31541;
}

.home-3 .funfact-block-one .inner-box .count-outer{
	color: #c31541;
}

.home-3 .faq-content .link a:hover{
  color: #c31541;
}

.home-3 .faq-content .questions-list li a:hover:before{
  color: #c31541;
}

.home-3 .faq-content .questions-list li a:after{
	color: #c31541;
}

.home-3 .contact-content .form-inner .form-group input:focus,
.home-3 .contact-content .form-inner .form-group textarea:focus{
  border-color: #c31541 !important;
}

.home-3 .contact-content .form-inner .form-group .theme-btn:before{
	background-color: #c31541;
}

.home-3 .news-section.style-two .two-item-carousel .news-block-one .inner-box .image-box h2{
	background-color: #c31541;
}

.home-3 .news-block-one .inner-box .lower-content .author-box h6 a{
	color: #c31541;
}

.home-3 .news-block-one .inner-box .lower-content .author-box h6:before{
	background-color: #c31541;
}

.home-3 .news-block-one .inner-box .lower-content h4 a:hover{
	color: #c31541;
}

.home-3 .news-block-one .inner-box .lower-content .link a:hover{
	color: #c31541;
}

.home-3 .news-block-one .inner-box .lower-content .info li a:hover{
	color: #c31541;
}

.home-3 .news-section.style-two .two-item-carousel .owl-nav button:hover{
	color: #c31541;
}

.home-3 .update-section .outer-container{
	background-color: #c31541;
}

.home-3 .scroll-top{
	border-color: #c31541;
	color: #c31541;
}

.home-3 .scroll-top:hover{
	background-color: #c31541;
}

.home-3 .footer-style-three .text h6 a:hover{
  color: #c31541;
}

.home-3 .footer-style-three .contact-widget .subscribe-box .form-group button{
	color: #c31541;
}

.home-3 .footer-style-three .contact-widget .social-links li a:hover{
	color: #c31541;
}

.page-title .bread-crumb li a:hover{
	color: #e94d4e;
}

.about-style-three .image-box .text h2{
	color: #e94d4e;
}

.about-style-three .image-box .curved-circle-2{
	color: #e94d4e;
}

.content_block_one .content-box .author-box .designation{
	color: #e94d4e;
}

.mission-section .tab-btns li.active-btn,
.mission-section .tab-btns li:hover{
	background-color: #e94d4e;
}

.mission-section .inner-box{
	border-left: 5px solid #e94d4e;
}

.mission-section .inner-box h6{
	color: #e94d4e;
}

.team-section .more-text h6 a{
	color: #e94d4e;
}

.funfact-section.alternat-2{
	background-color: #e94d4e;
}

.progress-box .bar-inner{
	background-color: #e94d4e;
}

.statistics-section .content-box .download-box h6 a{
	color: #e94d4e;
}

.team-section .owl-nav button:hover{
	color: #e94d4e;
}

.faq-page-section .search-list li a.current,
.faq-page-section .search-list li a:hover{
  background-color: #e94d4e;
  border-color: #e94d4e;
}

.accordion-box .block.active-block{
  border-color: #e94d4e;
}

.accordion-box .block .acc-btn.active .icon-outer{
	color: #e94d4e;
}

.accordion-box .block .acc-btn.active h5{
	color: #e94d4e;
}

.faq-sidebar form .form-group .theme-btn:before{
  background-color: #e94d4e;
}

.faq-sidebar .more-text p span{
  color: #e94d4e;
}

.faq-sidebar form .form-group input:focus,
.faq-sidebar form .form-group textarea:focus{
  border-color: #e94d4e !important;
}

.content_block_two .content-box .list li:before{
	color: #e94d4e;
}

.coaching-block-three .inner-box .upper-box .link a{
	color: #e94d4e;
}

.coaching-block-three .inner-box .lower-box .overlay-text h4 a:hover{
	color: #e94d4e;
}

.testimonial-style-three .testimonial-content .inner-box .quote{
	border: 2px solid #e94d4e;
}

.testimonial-style-three .testimonial-content .inner-box .quote:before{
	background-color: #e94d4e;
}

.testimonial-style-three .testimonial-content .inner-box .quote:after{
	background-color: #e94d4e;
}

.testimonial-style-three .testimonial-content .inner-box .author-box .designation{
	color: #e94d4e;
}

.testimonial-style-three .testimonial-content .inner-box .rating li{
	color: #e94d4e;
}

.testimonial-style-three .owl-nav button:hover{
	background-color: #e94d4e;
	border-color: #e94d4e;
}

.default-sidebar .category-widget .category-list{
	border: 2px solid #e94d4e;
}

.default-sidebar .category-widget .category-list li a:hover i,
.default-sidebar .category-widget .category-list li a.current i{
	color: #e94d4e;
}

.default-sidebar .category-widget .category-list li a:hover:after,
.default-sidebar .category-widget .category-list li a.current:after{
  background-color: #e94d4e;
}

.default-sidebar .sidebar-banner .inner-box .bg-layer{
	background-color: #e94d4e;
}

.default-sidebar .sidebar-banner .inner-box .lower-box .theme-btn{
	color: #e94d4e !important;
}

.default-sidebar .sidebar-banner .inner-box .lower-box .theme-btn:before{
	background-color: #e94d4e;
}

.coaching-details-content .list li:before{
	color: #e94d4e;
}

.coaching-details-content .content-three .inner-box .price{
	border: 2px solid #e94d4e;
	color: #e94d4e;
}

.content_block_three .content-box .inner .progress-box h4{
	color: #e94d4e;
}

.content_block_three .content-box .inner h2{
	color: #e94d4e;
}

.statistics-section .image-box .curved-circle{
	color: #e94d4e;
}

.visa-details-content .content-three .tab-btn-box .tab-btns li.active-btn .icon-box{
	color: #e94d4e;
}

.visa-details-content .content-three .tab-btn-box .tab-btns li.active-btn h6{
  color: #e94d4e;
}

.visa-details-content .content-three .tab-btn-box .tab-btns li.active-btn{
	border-right: 3px solid #e94d4e;
}

.visa-details-content .content-four .single-item:hover{
  border-color: #e94d4e;
}

.content_block_four .content-box .inner-box .single-item .inner h2{
	color: #e94d4e;
}

.countries-block-three .inner-box:hover{
	border-color: #e94d4e;
}

.countries-block-three .inner-box h6{
	color: #e94d4e;
}

.countries-block-three .inner-box h4 a:hover{
	color: #e94d4e;
}

.countries-details-content .content-one .tab-btns li.active-bt{
  color: #e94d4e;
}

.countries-details-content .content-one .tab-btns li.active-btn h5{
  color: #e94d4e;
}

.countries-details-content .content-one .tab-btns li:before{
	background-color: #e94d4e;
}

.countries-details-content .content-one .tabs-content .single-item .btn-box a:hover{
	color: #e94d4e;
}

.countries-details-content .content-two .tab-btn-box .tab-btns li.active-btn .icon-box{
	color: #e94d4e;
}

.countries-details-content .content-two .tab-btn-box .tab-btns li.active-btn h6{
  color: #e94d4e;
}

.countries-details-content .content-two .tab-btn-box .tab-btns li.active-btn{
	border-right: 3px solid #e94d4e;
}

.countries-details-content .content-three .service-list li a:hover .icon-box{
  border-color: #e94d4e;
  background-color: #e94d4e;
}

.news-block-one .inner-box .lower-content h3 a:hover{
	color: #e94d4e;
}

.pagination li a:hover,
.pagination li a.current{
  background-color: #e94d4e;
}

.blog-sidebar .search-widget .search-form .form-group input:focus + button,
.blog-sidebar .search-widget .search-form .form-group button:hover{
  color: #e94d4e;
}

.blog-sidebar .post-widget .post h6{
	color: #e94d4e;
}

.blog-sidebar .post-widget .post h6:before{
	background-color: #e94d4e;
}

.blog-sidebar .post-widget .post h6 a{
	color: #e94d4e;
}

.blog-sidebar .post-widget .post h4 a:hover{
  color: #e94d4e;
}

.blog-sidebar .post-widget .post .info li a:hover{
	color: #e94d4e;
}

.blog-sidebar .post-widget .owl-nav button:hover{
  color: #e94d4e;
}

.blog-sidebar .category-widget .category-list li a:hover{
	border-color: #e94d4e;
	color: #e94d4e;
}

.blog-sidebar .category-widget .category-list li a:before{
	border: 2px solid #e94d4e;
}

.blog-sidebar .category-widget .category-list li a:hover:before{
  background-color: #e94d4e;
}

.blog-sidebar .gallery-widget .image-list li .image{
	background-color: #e94d4e;
}

.blog-sidebar .tags-widget .tags-list li a:hover{
  background-color: #e94d4e;
}

.blog-sidebar .subscribe-widget .form-group input:focus{
  border-color: #e94d4e !important;
}

.blog-details-content .content-one .author-box h6{
	color: #e94d4e;
}

.blog-details-content .content-one .author-box h6:before{
	background-color: #e94d4e;
}

.blog-details-content .content-two .single-item:before{
	background-color: #e94d4e;
}

.blog-details-content .content-two .list li:before{
	border: 2px solid #e94d4e;
}

.blog-details-content .content-three blockquote{
	border: 2px solid #e94d4e;
}

.blog-details-content .content-three blockquote h4{
	color: #e94d4e;
}

.blog-details-content .post-share-option .tags-list li a:hover{
  background-color: #e94d4e;
}

.blog-details-content .nav-btn .single-btn h6 a{
	color: #e94d4e;
}

.blog-details-content .author-box .content-box .social-links li a:hover{
  color: #e94d4e;
}

.blog-details-content .comment-box .comment .comment-info .post-date{
	color: #e94d4e;
}

.blog-details-content .comment-box .comment .comment-inner .reply-btn{
	color: #e94d4e;
}

.blog-details-content .comments-form-area .form-group input:focus,
.blog-details-content .comments-form-area .form-group textarea:focus{
  border-color: #e94d4e !important;
}

.content_block_five .content-box .inner-box .single-item .info li p a:hover{
  color: #e94d4e;
}

.content_block_six .content-box .form-inner .form-group input:focus,
.content_block_six .content-box .form-inner .form-group textarea:focus{
  border-color: #e94d4e !important;
}

.contactinfo-section .single-item .icon-box{
	color: #e94d4e;
}

.contactinfo-section .single-item .phone a{
	color: #e94d4e;
}

.contactinfo-section .single-item .email a:hover{
  color: #e94d4e;
}