/* Responsive Css */

@media only screen and (max-width: 1599px){

  .header-top .social-links{
    display: none;
  }

  .header-middle{
    padding-left: 30px;
  }

  .main-header .menu-right-content .option-box{
    display: none;
  }

  .header-lower{
    /* padding-left: 250px; */
  }

  .header-lower .outer-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .update-section .outer-container .news-box:before{
    display: none;
  }

  .update-section .outer-container .news-box{
    width: 100% !important;
    float: none;
    text-align: center;
    padding: 0px !important;
  }

  .update-section .outer-container .news-box .text{
    display: inline-block;
  }

}


@media only screen and (max-width: 1599px){

  .testimonial-style-two .thumb-inner{
    display: none;
  }

  .header-style-three .header-lower .menu-right-content .search-inner{
    display: none;
  }

  .header-style-three .outer-box .language-box{
    display: none;
  }

  .header-style-three .outer-box .logo-box .logo{
    margin-right: 0px;
  }

  .header-style-three .outer-box .logo-box .logo:before{
    display: none;
  }

}


@media only screen and (max-width: 1399px){

  .header-top .btn-box{
    display: none;
  }

  .about-style-two{
    padding-left: 0px;
    padding-right: 0px;
  }

  .funfact-section .funfact-block-one{
    width: 33.333%;
  }

  .funfact-block-one .inner-box{
    margin-bottom: 30px;
  }

  .funfact-section{
    padding-bottom: 72px;
  }

  .default-sidebar .download-widget .download-list li,
  .default-sidebar .download-widget .download-list li:last-child{
    margin-bottom: 10px !important;
  }

  .default-sidebar .download-widget .download-list{
    padding-bottom: 10px;
  }

}


@media only screen and (max-width: 1200px){

  .header-style-two .header-lower .outer-box{
    position: sticky;
    padding: 10px;
  }
  .header-lower .main-box .mylogo .mainLogo{
    width: 100px;
    height: 45px;
  }

  .sticky-header  .main-box .mylogo .mainLogo{
    width: 110px;
    height: 60px;
    padding: 10px;
  }

  .main-menu,
  
  .main-header.style-one .outer-container:before{
    display: none !important;
  }

  .main-box .mylogo a{

    /* padding: 20px; */
  }

  .menu-area .mobile-nav-toggler {
    display: block;
    padding: 10px;
    margin-top: 25px;
  }
  
  .sticky-header .menu-area .mobile-nav-toggler {
    display: block; /* Ensure toggle is displayed in sticky header */
  }

  .megamenu ul li:first-child{
    display: none;
  }

  .header-middle .text{
    display: none;
  }

  .header-middle .outer-container .logo-box{
    position: relative;
    text-align: center;
    top: 0px;
  }

  .header-middle .outer-container .logo-box .logo{
    margin: 0 auto;
  }

  .header-lower{
    padding-left: 0px;
  }

  .main-header .menu-right-content .option-box{
    display: inline-block;
  }

  .header-lower .outer-box{
    padding-left: 20px;
  }

  .header-top .left-column{
    float: none;
    text-align: center;
  }

  .header-top .info li{
    float: none;
  }

  .header-top .info li{
    border-right: none;
    margin-right: 0px;
  }

  .header-top .right-column{
    max-width: 340px;
    margin: 0 auto;
    float: none;
  }

  .destination-section .content-box .shape .shape-2{
    display: none;
  }

  .header-style-two .menu-area .mobile-nav-toggler{
    margin-top: 0px;
  }

  .header-style-two .menu-area .mobile-nav-toggler .icon-bar{
    background: #1e1e1e;
  }

  .banner-style-two .pattern-layer{
    display: none;
  }

  .banner-style-two .owl-theme .owl-nav{
    display: none;
  }

  .coaching-block-two .inner-box .overlay-text .link{
    right: 30px;
  }

  .coaching-block-two .inner-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .coaching-block-two .inner-box .overlay-text{
    padding-left: 30px;
  }

  .chooseus-style-two .image-layer{
    display: none;
  }

  .header-style-three .menu-area .mobile-nav-toggler{
    margin-top: 0px;
  }

  .header-style-three .menu-area .mobile-nav-toggler .icon-bar{
    background: #fff;
  }

  .header-style-three .header-lower .outer-box{
    padding: 0px 30px;
  }

  .news-section.style-two .two-item-carousel .inner-box{
    padding-left: 20px;
  }

  .news-section.style-two .two-item-carousel .inner-box .image-box{
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
  }

  .mission-section .tab-btns li{
    margin-bottom: 10px;
  }

  .mission-section .tab-btns li:last-child{
    margin-bottom: 0px;
  }

  .visa-details-content .content-three .tabs-content{
    margin-left: 0px;
  }

  .countries-details-content .content-one .tab-btns li{
    width: 50%;
    border-bottom: 1px solid #fff;
  }

  .countries-details-content .content-two .tabs-content{
    margin-left: 0px;
  }

  .countries-details-content .content-three .service-list li{
    margin-bottom: 10px !important;
  }

  .news-block-one .inner-box .lower-content .author-box .author-thumb{
    position: relative;
    top: 0px;
    margin-bottom: 10px;
  }

  .header-top .language{
    display: none;
  }

  .header-top .search-inner .form-group input[type='search']{
    height: 42px;
  }

  .header-top .search-inner .form-group button[type='submit']{
    top: 11px;
  }

  .blog-classic-content .news-block-one .inner-box .lower-content .author-box{
    padding-left: 0px;
  }


}



@media only screen and (min-width: 768px){
  .main-menu .navigation > li > ul,
  .main-menu .navigation > li > ul > li > ul,
  .main-menu .navigation > li > .megamenu{
    display:block !important;
    visibility:hidden;
    opacity:0;
  }
}



@media only screen and (max-width: 991px){

  .header-style-two .header-lower .outer-box{
    position: sticky;
    padding: 10px;
  }

  .banner-section .owl-theme .owl-nav{
    display: none;
  }

  .visa-block-one .inner-box{
    margin-bottom: 30px;
  }

  .visa-section{
    padding-bottom: 80px;
  }

  .about-section .image-box{
    margin-bottom: 30px;
  }

  .coaching-block-one .inner-box{
    margin-bottom: 30px;
  }

  .coaching-section{
    padding-bottom: 80px;
  }

  .destination-section .inner-container{
    padding-left: 0px;
  }

  .destination-section .inner-container .image{
    position: relative;
    margin-bottom: 30px;
  }

  .chooseus-block-one .inner-box{
    margin-bottom: 40px;
  }

  .chooseus-section .inner-content{
    padding-bottom: 30px;
  }

  .team-block-one .inner-box{
    margin-bottom: 30px;
  }

  .team-section{
    padding-bottom: 72px;
  }

  .news-block-one .inner-box{
    margin-bottom: 30px;
  }

  .news-section{
    padding-bottom: 80px;
  }

  .main-footer .footer-widget{
    margin: 0px 0px 30px 0px !important;
  }

  .footer-top{
    padding-bottom: 77px;
  }

  .about-style-two .content-box{
    margin: 0px 0px 30px 0px;
  }

  .process-block-one .inner-box{
    margin-bottom: 30px;
  }

  .process-section .upper-box .shape{
    display: none;
  }

  .statistics-section .image-box{
    margin-left: 0px;
  }

  .chooseus-style-two .content-box{
    padding-left: 0px;
  }

  .testimonial-style-two .owl-nav{
    display: none;
  }

  .callback-section .bg-layer{
    width: 100%;
  }

  .callback-section .map-inner{
    position: relative;
    width: 100%;
  }

  .callback-section .map-inner #contact-google-map{
    height: 600px;
  }

  .callback-section .content-box{
    margin-right: 0px;
    margin-top: 30px;
  }

  .footer-top-two .footer-widget{
    margin: 0px 0px 30px 0px !important;
  }

  .footer-top-two{
    padding-bottom: 68px;
  }

  .header-top-three{
    text-align: center;
  }

  .header-top-three .top-inner{
    display: inline-block;
  }

  .header-top-three .support-box p{
    display: inline-block;
  }

  .header-top-three .social-links li{
    float: none;
  }

  .coaching-style-three .coaching-block-three{
    width: 50%;
  }

  .countries-style-three .owl-nav{
    display: none;
  }

  .faq-section .contact-content,
  .footer-style-three .contact-widget{
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 30px;
    border-left: none;
  }

  .update-section .outer-container{
    padding-left: 30px;
    padding-right: 30px;
  }

  .update-section .outer-container .update-text{
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 15px;
    text-align: center;
  }

  .update-section .outer-container .update-text h6{
    display: inline-block;
  }

  .about-style-three .image-box{
    margin-bottom: 30px;
  }

  .mission-section .inner-box{
    max-width: 100%;
  }

  .statistics-section.alternat-2 .image-box{
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .faq-content{
    margin-bottom: 30px;
  }

  .about-style-four .image-box{
    margin-bottom: 30px;
  }

  .default-sidebar{
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .about-style-five .image-box{
    margin-bottom: 30px;
  }

  .visa-details-content .content-two .single-item .inner-box{
    margin-bottom: 10px;
  }

  .visa-details-content .content-three .tab-btn-box,
  .countries-details-content .content-two .tab-btn-box{
    max-width: 100%;
    margin-bottom: 30px;
  }

  .about-style-six .image-box{
    margin-bottom: 30px;
  }

  .project-tab .tab-btn-box .tab-btns .p-tab-btn:before{
    display: none;
  }
  .countries-style-three .sec-title .select-box{
    position: relative;
    right: 0px;
    bottom: 0px;
    margin-top: 20px;
    min-height: 54px;
  }

  .countries-details-content .content-one .tabs-content .single-item{
    margin-bottom: 10px;
  }

  .blog-sidebar{
    margin-top: 30px;
  }

  .content_block_six .content-box{
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 30px;
    border-left: none;
  }

  .contactinfo-section .single-item{
    margin-bottom: 30px;
  }

  .contactinfo-section .map-inner{
    padding-top: 70px;
  }

  .rtl .statistics-section .image-box{
    margin-right: 0px;
  }

  .rtl .callback-section .content-box{
    margin-left: 0px;
  }

}


@media only screen and (max-width: 767px){

  .main-header .menu-right-content .option-box{
    display: none;
  }

  .header-top .info li{
    line-height: 24px;
  }

  .header-top{
    padding: 10px 0px;
  }

  .banner-carousel .content-box h2{
    font-size: 40px;
    line-height: 50px;
  }

  .banner-carousel .slide-item{
    padding: 90px 0px 100px 0px;
  }

  .banner-carousel .content-box{
    min-height: auto;
  }

  .service-section{
    padding: 62px 0px 70px 0px;
  }

  .service-section .owl-nav,
  .service-section .owl-dots{
    display: none;
  }

  .sec-title h2{
    font-size: 30px;
    line-height: 40px;
  }

  .dream-section .inner-container{
    padding-left: 30px;
    padding-right: 30px;
  }

  .visa-section{
    padding: 62px 0px 40px 0px;
  }

  .about-section{
    padding: 70px 0px;
  }

  .about-section .image-box .text-inner .shape{
    display: none;
  }

  .about-section .image-box .text-inner{
    min-height: 190px;
  }

  .countries-section{
    padding: 65px 0px;
  }

  .countries-section .owl-nav,
  .countries-section .owl-dots{
    display: none;
  }

  .coaching-section .sec-title .btn-box{
    position: relative;
    bottom: 0px;
    margin-top: 15px;
  }

  .coaching-section{
    padding: 65px 0px 40px 0px;
  }

  .destination-section .inner-container .content-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .destination-section .inner-container .image{
    margin-bottom: 0px;
  }

  .destination-section .content-box h2{
    font-size: 30px;
    line-height: 40px;
  }

  .chooseus-section{
    padding: 65px 0px 70px 0px;
  }

  .team-section{
    padding: 65px 0px 35px 0px;
  }

  .testimonial-section .owl-nav{
    display: none;
  }

  .testimonial-section{
    padding: 65px 0px 70px 0px;
  }

  .news-section{
    padding: 65px 0px 40px 0px;
  }

  .contact-section{
    padding: 70px 0px;
  }

  .footer-top{
    padding: 70px 0px 25px 0px;
  }

  .footer-bottom .copyright,
  .footer-bottom .footer-nav{
    float: none;
    display: block;
    text-align: center;
  }

  .footer-bottom .footer-nav li{
    float: none;
  }

  .header-top-two .left-column,
  .header-top-two .top-right{
    float: none;
    justify-content: center;
  }

  .header-top-two .left-column{
    margin-bottom: 15px;
  }

  .header-style-two .menu-right-content{
    display: none;
  }

  .header-style-two .header-lower .outer-box{
    position: sticky;
    padding: 10px;
  }

  .banner-carousel .content-box h1{
    font-size: 60px;
    line-height: 70px;
  }

  .banner-style-two .banner-carousel .content-box h2{
    font-size: 36px;
    line-height: 46px;
  }

  .banner-style-two .banner-carousel .slide-item{
    padding: 180px 0px 100px 0px;
  }

  .about-style-two{
    padding: 70px 0px;
  }

  .process-section{
    padding: 65px 0px 70px 0px;
  }

  .process-section .upper-box{
    padding-bottom: 20px;
    margin-bottom: 30px;
  }

  .coaching-block-two .inner-box{
    border-bottom: 1px solid rgba(255, 255, 255, 0.10) !important;
  }

  .statistics-section .image-box{
    margin-bottom: 30px;
  }

  .statistics-section{
    padding: 70px 0px;
  }

  .countries-style-two{
    padding: 65px 0px;
  }

  .countries-style-two .tab-btns li{
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .chooseus-style-two .content-box{
    padding: 65px 0px 20px 0px;
  }

  .testimonial-style-two{
    padding: 70px 0px 65px 0px;
  }

  .news-section.style-two .single-item-carousel .inner-box{
    padding-left: 0px;
  }

  .news-section.style-two .single-item-carousel .inner-box .image-box{
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
  }

  .news-section.style-two .single-item-carousel .owl-nav{
    display: none;
  }

  .news-section.style-two .inner-box .lower-content{
    padding-top: 0px;
  }

  .callback-section .map-inner .map-location .single-location:first-child{
    left: 40px;
  }

  .callback-section .outer-container{
    padding: 70px 0px;
  }

  .footer-top-two{
    padding: 70px 0px 40px 0px;
  }

  .banner-style-three .banner-carousel .slide-item{
    padding: 150px 0px 200px 0px;
  }

  .header-style-three .menu-area .mobile-nav-toggler{
    margin-top: 7px;
  }

  .banner-style-three .banner-carousel .content-box h2{
    font-size: 40px;
    line-height: 50px;
  }

  .service-block-three .inner-box .image-box .image{
    margin-bottom: 15px;
  }

  .service-style-three .owl-nav,
  .service-style-three .owl-dots{
    display: none;
  }

  .about-style-three{
    padding: 70px 0px;
  }

  .countries-style-three{
    padding: 65px 0px;
  }

  .chooseus-style-three,
  .testimonial-style-three{
    padding: 65px 0px 70px 0px;
  }

  .chooseus-style-three .owl-nav,
  .chooseus-style-three .owl-dots,
  .testimonial-style-three .owl-nav{
    display: none;
  }

  .funfact-section .funfact-block-one{
    width: 50%;
  }

  .funfact-section{
    padding: 70px 0px 30px 0px;
  }

  .faq-section{
    padding: 65px 0px 70px 0px;
  }

  .news-section.style-two .two-item-carousel .owl-nav,
  .news-section.style-two .two-item-carousel .owl-dots{
    display: none;
  }

  .footer-top-three{
    padding: 70px 0px;
  }

  .rtl .header-top-two .left-column,
  .rtl .header-top-two .top-right{
    float: none !important;
  }

  .rtl .countries-style-two .tab-btns li{
    margin-left: 20px;
  }

  .rtl .news-section.style-two .single-item-carousel .inner-box{
    padding-right: 0px;
  }

  .page-title{
    padding-top: 80px;
  }

  .page-title .title{
    margin-bottom: 40px;
  }

  .page-title h1{
    font-size: 32px;
    line-height: 40px;
  }

  .about-style-three.about-page,
  .mission-section{
    padding: 70px 0px;
  }

  .mission-section .tabs-content{
    padding: 0px;
  }

  .mission-section .tab-btns li:last-child{
    margin-bottom: 10px !important;
  }

  .mission-section .video-inner{
    padding: 100px 0px;
  }

  .team-section.team-page{
    padding-bottom: 25px;
  }

  .team-section .owl-nav,
  .team-section .owl-dots{
    display: none;
  }

  .faq-page-section{
    padding: 65px 0px 70px 0px;
  }

  .about-style-four .image-box{
    margin-top: 0px;
    margin-right: 0px;
  }

  .about-style-four{
    padding: 70px 0px;
  }

  .coaching-section .sec-title{
    margin-bottom: 20px;
  }

  .coaching-section .upper-box .text{
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .coaching-title{
    padding-top: 65px;
  }

  .coaching-details-content .content-one .two-column .image{
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .coaching-details-content .content-three .inner-column:first-child .inner-content{
    padding-right: 0px;
    border-right: none;
    margin-bottom: 30px;
  }

  .coaching-details-content .content-four .content-box{
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .coaching-details,
  .about-style-five,
  .about-style-six,
  .sidebar-page-container{
    padding: 70px 0px;
  }

  .about-style-five .image-boxd{
    margin-right: 0px;
  }

  .visa-details{
    padding: 70px 0px 40px 0px;
  }

  .about-style-six .image-box{
    margin-right: 0px;
  }

  .countries-details{
    padding: 70px 0px 60px 0px;
  }

  .contact-style-two,
  .contactinfo-section{
    padding: 65px 0px 70px 0px;
  }

  .contactinfo-section .map-inner{
    padding-top: 40px;
  }

  .project-tab .tab-btn-box .tab-btns .p-tab-btn h2{
    font-size: 24px;
    line-height: 30px;
  }

  .project-tab .tab-btn-box .tab-btns .p-tab-btn{
    margin: 0px 10px;
  }

  .video-section .text-box h2{
    font-size: 30px;
    line-height: 40px;
  }

  .content_block_four .content-box .inner-box .single-item{
    margin-bottom: 30px;
  }

  .about-style-six{
    padding-bottom: 40px;
  }

  .news-section.blog-three-column{
    padding-bottom: 70px;
  }

  .content_block_five .content-box .inner-box .single-item{
    margin-bottom: 20px;
  }

  .service-style-three .inner-container .big-text{
    font-size: 55px;
    line-height: 60px;
  }


}

@media only screen and (max-width: 599px){

  .error-section .inner-box .image-box img{
    width: 100%;
  }

  .coaching-style-three .coaching-block-three{
    width: 100%;
  }

  .funfact-section .funfact-block-one{
    width: 100%;
  }

  .news-section.style-two .two-item-carousel .inner-box{
    padding-left: 0px;
  }

  .news-section.style-two .two-item-carousel .inner-box .lower-content{
    padding-top: 30px;
  }

  .contact-section .content-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .sec-title h2 br{
    display: none;
  }

  .blog-two-column .news-block-one .inner-box{
    padding-left: 30px;
  }

  .blog-two-column .news-block-one .inner-box .image-box{
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    margin-bottom: 30px;
  }

  .blog-details-content .post-share-option .post-tags,
  .blog-details-content .post-share-option .post-social{
    float: none;
    display: inline-block;
  }

  .blog-details-content .post-share-option .post-tags{
    margin-bottom: 10px;
  }

  .blog-details-content .post-share-option .post-social h6{
    text-align: left;
  }

  .blog-details-content .comment-box .comment .comment-info .post-date{
    position: relative;
    top: 0px;
  }

  .blog-details-content .comments-form-area{
    padding-left: 30px;
    padding-right: 30px;
  }

  .news-section.style-two .two-item-carousel .news-block-one .inner-box .image-box h2{
    left: 0px;
    top: 0px;
  }

}


@media only screen and (max-width: 499px){

  .mobile-menu{
    width: 100%;
  }

  .header-top .outer-container{
    padding: 0px 15px;
  }

  .header-lower .outer-box{
    padding-right: 20px;
  }

  .service-block-one .inner-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .header-top-two .social-links li{
    float: none;
  }

  .header-top-two .left-column, .header-top-two .top-right{
    display: block;
    text-align: center;
  }

  .header-top-two .social-links,
  .header-top-two .language,
  .rtl .header-top-two .social-links, .rtl .header-top-two .language{
    padding: 0px;
    margin: 0px;
    border: none;
  }

  .header-top-two .search-inner .form-group{
    width: 100%;
  }

  .header-top-two .language li{
    float: none;
    margin-bottom: 10px;
  }

  .header-top-two .phone-box{
    display: inline-block;
  }

  .about-style-two .content-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .process-section .lower-box .btn-box .theme-btn{
    margin: 5px;
  }

  .chooseus-style-two{
    background: #fff;
  }

  .video-section .video-inner{
    padding-left: 30px;
    padding-right: 30px;
  }

  .news-section.style-two .inner-box .lower-content{
    padding-left: 30px;
    padding-right: 30px;
  }

  .header-style-three .menu-right-content{
    display: none;
  }

  .header-style-three .header-lower .outer-box{
    padding: 0px 20px;
  }

  .about-style-three .image-box .image-2{
    position: relative;
    bottom: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .about-style-three .image-box .image-3{
    position: relative;
  }

  .about-style-three .image-box{
    padding: 0px;
    margin-right: 0px;
  }

  .coaching-block-three .inner-box .upper-box{
    min-height: 300px;
  }

  .funfact-block-one .inner-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .footer-style-three .logo-widget .links-list li{
    width: 100%;
  }

  .mission-section .inner-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .team-section .more-text{
    margin-top: 0px;
  }

  .blog-classic-content .news-block-one .inner-box .lower-content{
    padding-left: 30px;
    padding-right: 30px;
  }

  .blog-two-column .news-block-one .inner-box .lower-content{
    padding-left: 0px;
  }

  .blog-details-content .author-box .content-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .blog-details-content .author-box .content-box .author-thumb{
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 15px;
  }

}


@media only screen and (max-width: 399px){

  .header-style-two .logo-box{
    padding-right: 20px;
  }

  .statistics-section .image-box .image-2{
    position: relative;
    right: 0px;
    bottom: 0px;
  }

  .statistics-section .image-box{
    padding-top: 170px;
  }

  .rtl .header-style-two .logo-box{
    padding-left: 20px;
  }

  .callback-section .map-inner .map-location .single-location .address-box{
    width: 300px;
  }

  .mission-section .tab-btns li{
    width: 100%;
    margin-right: 0px;
  }

  .statistics-section.alternat-2 .image-box{
    padding-top: 0px;
  }

  .countries-details-content .content-three .service-list li{
    width: 100%;
    margin-right: 0px;
  }

  .countries-details-content .content-three .service-list li a{
    display: block;
  }

  .blog-details-content .comment-box .comment.replay-comment{
    margin-left: 0px;
  }

  .blog-sidebar .subscribe-widget .widget-content{
    padding-left: 15px;
    padding-right: 15px;
  }

}